*{
    margin: 0 ;
    padding: 0;
}
 
$primary-color:#a92344;
$primary-font:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
body{
    background-color: #030303;
}
.firstSec{
    display: flex;
   
}
.haffTitle{
  font-size: 35px;
  padding: 20px 0 0 10px;
  color:#fefefe;
  margin: 0 0 0 100px;
  
  }

.mainContent{
  font-size:20px;
   
  p {    
color:#fefefe;
    margin: 20px 0 0 100px;
    width: 60%
  }
 img{  
     margin: 20px 0 0 100px;
     width: 800px;
     height: 800px;
    }
}

.haffHeader{
width:100%;
color:$primary-color;
font-family:$primary-font ;
cursor:pointer ;
padding:10px 0 20px 0;
text-align: center;
font-size: 25px;
background-color: #fefefe;
 
}
 
.haffCards{
font-size: 20px;
color:$primary-color;
}

.haffTitle a{
color:$primary-color;
    list-style: none;
    text-decoration: none;
}
.haffTitle a:visited {
    color: rgb(89, 48, 97);
}
.haffTitle a:hover {
    color: #ff69b4;
}
.haffTitle a:active{
    color: rgb(82, 82, 156);
}
.coverDiv{
 
.display{
 margin: 20px 0 0 100px;
 width: 800px;
 height:800px
}

}

.author{
   display: flex;
   margin: 20px 0 0 100px ;

   img{
     height:40px;
    width:35px;
   }
   p{
    color:#fefe;
margin: 20px 0 0 20px;
font-size: 20px;
    }
}
.boardSec{
  
    color: #fefefe;
    margin: 70px 0 0 0
}
.leaderSec{
    img{
width:100px;
height:100px;
margin: 30px 0 0 0
}
 
h3{
    color: #fefefe;
    
}
p{
    margin: 20px 0 0 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
}

.boardLine{
    height:100px;
    width: 5px;
    background-color: $primary-color;
    margin: -100px 0 0 -20px
}
.boardLine2{
    height:5px;
    width: 150px;
    background-color: $primary-color;
    margin: 20px 0 0 0
}
.galleryImage{
    margin: 20px 0 0 0
}
.imgSec{
    display: grid;
    grid-template-columns: 150px 150px;
    grid-gap: 10px;
    margin: 20px 0 0 0
}
.footerDiv{
    background-color: $primary-color;
    color:#fefefe;
    font-family:$primary-font ;
    text-align: center;
}
@media only screen and (max-width:360px){
    .container{
        margin: 10px 0 0 0;        
    }
    
    .haffTitle{
font-size: 35px;      
color:#fefefe;
margin: 20px 0 0 20px;
padding: 0 0 0 0;
 
}
 
    .haffHeader{  
     background-color: #030303;
     margin: 0 0 0 250px;
}
.underHeader{
    width:50%;
    background-color: $primary-color;
    height:3px;
   margin: 10px 0 0 90px
}
  
 .author{    
    margin: 20px 0 0 20px ;
 
    img{
      height:40px;
     width:35px;
    }
    p{
     color:#fefe;
 margin: 5px 0 0 20px;
 font-size: 20px;
     }
 }

 .coverDiv{
    display:block;   
    .display{
  margin: 20px 0 0 20px; 
  width:400px;
  height:400px;
    }
  
    }
    .mainContent{
        font-size:30px;
         
        p {    
            color:#fefefe;
                margin: 20px 0 0 20px;
                width: 100%
              }
       img{  
           margin: 20px 0 0 20px;
           width:400px;
           height:400px;
          }
      }
      .boardSec{
       margin: 100px 0 0 50px;
        color: #fefefe;
    }
         
    .boardLine{
        height:100px;
        width: 5px;
        background-color: $primary-color;
        margin: -100px 0 0  -20px
    }
    .leaderSec{
        img{        
    margin: 10px 0 0 0
    }   
    h3{
        width: 100%
    }
    p{
        margin: 20px 0 0 0;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        width: 100%
    }
    }
    
 .footerDiv{
        width: 230%
    }
    
}
 

