*{
    margin: 0 ;
    padding: 0; 
}

$primary-color:#a92344;
$primary-font:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
 
  .haffTitle{
  font-size: 35px;
  padding: 30px 0 15px  0;
  inline-size: 330px;
  overflow-wrap: break-word;
  }

.mainContent{  
  font-size: 25px;

  p, img{
      margin: 20px 0 0 0;
   
  }
 
}
 
.haffHeader{
    color:$primary-color;
    font-family:$primary-font ;
   cursor:pointer ;
   margin: 10px 0 0 35px;
   font-size: 45px;
   
}
.navItems{   
    display: flex;
    justify-content: space-between;    
}

.navDiv{
    margin: 20px 20px ;
 color:#a92344;
 font-family:$primary-font ;
 font-size: 20px;

}
.navLinks{
    margin-left: 17px;
    cursor:pointer
}

.navLinks:hover{
    color:rgb(62, 81, 100);
}
  .midDiv{
    margin: 0 0 0 100px;
   
 }
.coverDiv{  
    background-color: #030303; 
    color:#fefefe;
    padding: 0 0 0.02px 0 
}

.haffCards{
    font-size: 20px;
    color:$primary-color;
}

  .display{
        margin: 15px 0 0 0;
}

.haffTitle a{
color:$primary-color;
    list-style: none;
    text-decoration: none;
}
.haffTitle a:visited {
    color: rgb(89, 48, 97);
}
.haffTitle a:hover {
    color: #ff69b4;
}
.haffTitle a:active{
    color: rgb(82, 82, 156);
}

.haffDisplay{
   margin: 50px 0 0 0;
    p{
        margin: 20px 0 0 0;
        font-size: 14px;
    }
}

.author{
   display: flex;
   margin: 20px 0 0 0 ;
 
   img{
     height:40px;
    width:35px;
   }
   p{
margin: 0 0 0 20px;
font-size: 20px;
    }
}
 
 

.haffImg{
    margin: 20px 0 0 20px;
    width: 50px;
        height:50px;    
    span{
        cursor:pointer
    }
}
 
.haffCollection{ 
     width:520px; 
    background-color: $primary-color;
    margin: 20px 0 0 0;
}
.sideCollections{
    margin: 90px 0 0 0;     
}
.footerDiv{
    background-color: $primary-color;
    color:#fefefe;
    font-family:$primary-font ;
    text-align: center;
}
@media only screen and (max-width: 500px){
    .coverDiv{
      display:block;
      padding:0 0 1rem 70px;
   
    }
    .haffHeader{       
     text-align: center;
     
}
.midDiv{
    margin: 20px 0 0 0 
}
.haffTitle{
   font-size: 25px;
   padding: 10px 0 0 0 

}
 .author{
    margin: 20px 0 0 0 ;
    p{
        margin: 0 0 0 20px;
        font-size: 20px;
    }
 }
.display{  
    height:380px;
    width:320px
  
}

.mainContent{
     
    font-size: 20px;
    p, img{
        margin: 20px 0 0 0 
    }
   
}
 
}

